html {
    font-size: 0.5vw;
}
body {
    background-color: cornflowerblue;
    margin: 0 1em 0 1em;
}
hr {
    margin: 0.5em auto 0.5em auto;
}

.table { width: 100%; height: 100%; display: table; table-layout: fixed; border-spacing: 0.1em; color: #272cfc;}
.row { width: 100%; display: table-row; }
.col { width: auto; height: 0.066vh;  display: table-cell; text-align: center; vertical-align: middle; padding: 0.5em ; background-color: pink}
